@use '../abstracts/' as *;
@use '../base/' as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  

  a {
    @include button($very-dark-cyan, $white, $grayish-blue)
  }
}